<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body style="background-color: greenyellow;">
    <header>
        <h1>C0D3Dr4G0N's Calculator - CSC330 Midterm</h1>
    </header>

    <main>
        {% block content %}
        <a class='btn btn-primary' href="{{ url_for('index') }}">Home</a>
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 C0D3Dr4G0N</p>
    </footer>
</body>
</html>
